.profile_container {
  width: 100%;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
 
  
  .order {
    // position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    // background-color: #eee;
    border-bottom: 1px solid #eee;
    padding-right: 30px;
    flex-wrap: wrap;
    img {
      max-width: 200px !important;
      // background-color: red;
    }
    > div {
      height: 100%;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      flex: 1;

      h3 {
        font-weight: 500;
        
      }
      @media (max-width: 767px) {
        h3 {
          font-size: 16px;
        }
      }
      div:last-of-type p {
        color: rgb(158, 158, 161);
      }
    }
    .order_right_zone {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .price{
        background-color: black;
        color: white;
        padding: 4px 8px;
        border-radius: 15px;
        font-size: 16px;
      }
      > div:last-of-type{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
      > div {
        p{
          max-width: 100px;
        }
      }
    }
    
    
  }

  @media (max-width:767px) {
    .order {
      width: 80%;
    }
    
  }
  @media (max-width:567px) {
    .order {
      width: 100%;
      padding-right: 0;

      .order_right_zone {
        position: relative;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        > div {
          text-align: center;
          
        }
      }
    }
    
  }
  
}
.text{
  text-align: center;
  margin-top: 70px;
}


.admin_profile_container{
  min-width: 100%;
  margin-top: 58px;
  // min-height: calc(100vh - 60px);
  height: fit-content;
  // position: relative;
  max-width: 100vw;
  overflow-x: auto;
  border: 1px solid #eee;
  .header{
    min-width: 100vw;
    // border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    // background-color: blue;

    span {
      text-align: center;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px;
      transition: .3s;
      width: 100%;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      // min-width: fit-content;

      width: 200px;
      
    }
    span:hover {
      background-color: #eee;
    }
  }
  .order{
    width: 100%;
    // background-color: tomato;
    // max-width: 100vw;
    // border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // overflow-x: auto;
    
      .order_price{
        color: rgb(56, 192, 56);
      }
    
      span {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
        transition: .3s;
        width: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        // min-width: fit-content;
        width: 200px;
        text-align: center;
        height: 80px;

        
      }
      
      
      @media (min-width:568px) {
        span:hover {
          background-color: #eee;
        }
      }
      
      img {
        max-width: 50px !important;
      }
    
  }

  @media (max-width:567px) {
    .header{
      justify-content: space-between;
      span{
        min-width: 120px;
        width: 220px;
      }
    }
    .order{
      justify-content: space-between;
      span {
        min-width: 120px;
        width: 220px;
        
        // height: 70px;
      }
    }
  }
}