.nav_container {
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(47, 46, 46);
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 58px;
}
.nav_container > .menu_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 30px;
  height: 20px;
}
.nav_container > .menu_icon span {
  width: 25px;
  height: 1px;
  position: absolute;
  background-color: white;
  transition: 0.3s;
}
.nav_container > .menu_icon span.first_bar {
  top: 8px;
}
.nav_container > .menu_icon span.second_bar {
  top: 13px;
}
.nav_container > .menu_icon_on {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 30px;
  height: 20px;
}
.nav_container > .menu_icon_on span {
  width: 25px;
  height: 1px;
  position: absolute;
  background-color: white;
  transition: 0.3s;
}
.nav_container > .menu_icon_on span.first_bar {
  transform: rotate(40deg);
}
.nav_container > .menu_icon_on span.second_bar {
  transform: rotate(-40deg);
}
@media (min-width: 768px) {
  .nav_container > .menu_icon,
.nav_container > .menu_icon_on {
    display: none;
  }
}
.nav_container > a {
  color: rgb(201, 199, 199);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.nav_container > a h4 {
  color: black;
  width: 15px;
  height: 15px;
  background-color: rgb(247, 242, 242);
  border-radius: 50%;
  position: absolute;
  bottom: -100%;
  right: -15%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.nav_container > a svg {
  min-width: 20px;
  color: rgb(201, 199, 199);
}
.nav_container > a.of {
  display: none;
}
.nav_container > span {
  color: rgb(201, 199, 199);
  cursor: pointer;
}
.nav_container > span img {
  max-width: 30px !important;
  cursor: pointer;
  margin-top: 2px !important;
}
.nav_container > span.of {
  display: none;
}
.nav_container > svg {
  color: rgb(201, 199, 199);
  max-width: 20px !important;
  cursor: pointer;
  position: relative;
}
.nav_container > svg span {
  position: absolute;
  color: white;
  bottom: 0;
}
@media (max-width: 767px) {
  .nav_container .search_icon,
.nav_container > a:not(:last-of-type) {
    display: none;
  }
}
.nav_container > svg.of {
  display: none;
}
.nav_container .menu_of {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 0vh;
  max-height: 0;
  background-color: transparent;
  top: 55px;
  transition: 0.3s;
  left: 0;
  visibility: 0;
}
.nav_container .menu_of > div {
  opacity: 0;
  pointer-events: none;
}
.nav_container .menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  max-height: 100vh;
  background-color: rgb(26, 26, 26);
  top: 55px;
  transition: 0.3s;
  left: 0;
}
.nav_container .menu .menu_search {
  opacity: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: opacity 0.3s;
  -webkit-animation-name: opacityAnimation;
          animation-name: opacityAnimation;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.nav_container .menu .menu_search > input {
  width: 90%;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgb(44, 44, 44);
  border: none;
  outline: none;
  color: white;
  padding: 10px 40px;
}
.nav_container .menu .menu_search .search_icon_menu {
  width: 20px !important;
  position: absolute;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
}
.nav_container .menu .menu_search .send_icon_menu {
  cursor: pointer;
  width: 20px !important;
  position: absolute;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
  right: 7%;
  transition: 0.3s;
}
.nav_container .menu .menu_search .send_icon_menu:hover {
  color: white;
}
.nav_container .menu > span:first-of-type {
  position: absolute;
  margin-top: 20px;
  min-width: 100%;
  background-color: rgb(78, 78, 78);
  height: 1px;
}
.nav_container .menu .menu_items {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.nav_container .menu .menu_items a {
  color: #eee;
  padding: 15px 10px;
  width: 100%;
  font-size: 15px;
  transition: opacity 0.3s;
  opacity: 0;
  -webkit-animation-name: opacityAnimation;
          animation-name: opacityAnimation;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.nav_container .menu .menu_items a:not(:last-of-type) {
  border-bottom: 1px solid rgb(110, 109, 109);
}
.nav_container .right_menu_of {
  position: absolute;
  transition: 0.5s;
  top: 58px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 15px;
  right: 1%;
  border: 1px solid rgb(153, 151, 151);
  border-radius: 10px;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}
.nav_container .right_menu_of .bag_orders {
  max-height: 100px;
  overflow-y: auto;
  overflow: hidden;
}
.nav_container .right_menu_of .bag_orders div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_container .right_menu_of .bag_orders div img {
  max-width: 50px !important;
}
.nav_container .right_menu_of .bag_orders div h3 {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}
.nav_container .right_menu_of button {
  margin: 20px auto;
  width: 80%;
  padding: 7px 15px;
  border: none;
  outline: none;
  color: white;
  background-color: blue;
  cursor: pointer;
  border-radius: 7px;
  font-size: 15px;
}
.nav_container .right_menu_of span {
  transition: 0.4s;
}
.nav_container .right_menu_of span {
  display: flex;
  align-items: center;
  color: blue;
  cursor: pointer;
}
.nav_container .right_menu_of span > svg {
  margin-right: 10px;
  max-width: 15px !important;
}
.nav_container .right_menu_of span.empty {
  color: grey;
  text-align: center;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.nav_container .right_menu {
  transition: 0.4s;
  position: absolute;
  top: 58px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 15px;
  right: 1%;
  border: 1px solid rgb(153, 151, 151);
  border-radius: 10px;
  height: 300px;
  height: 300px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-shadow: 0px 10px 38px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 38px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 38px -11px rgba(0, 0, 0, 0.75);
}
.nav_container .right_menu .bag_orders {
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 100px;
  overflow-y: auto;
}
.nav_container .right_menu .bag_orders div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_container .right_menu .bag_orders div img {
  max-width: 50px !important;
}
.nav_container .right_menu .bag_orders div h3 {
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}
.nav_container .right_menu .bag_orders::-webkit-scrollbar {
  display: none;
}
.nav_container .right_menu button {
  margin: 20px auto;
  width: 80%;
  padding: 7px 15px;
  border: none;
  outline: none;
  color: white;
  background-color: blue;
  cursor: pointer;
  border-radius: 7px;
  font-size: 15px;
}
.nav_container .right_menu span {
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: blue;
  cursor: pointer;
}
.nav_container .right_menu span > svg {
  margin-right: 10px;
  max-width: 15px !important;
}
.nav_container .right_menu span.empty {
  color: grey;
  text-align: center;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .nav_container .right_menu,
.nav_container .right_menu_of {
    width: 100%;
    right: 0;
    border: none;
  }
}
.nav_container .search_web {
  position: relative;
}
.nav_container .search_web form {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 500px;
}
.nav_container .search_web form input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgb(44, 44, 44);
  border: none;
  outline: none;
  color: white;
  border: none;
  outline: none;
}
.nav_container .search_web svg {
  width: 17px;
  color: gray;
  margin: 0 10px;
}
.nav_container .search_web svg:last-of-type {
  cursor: pointer;
}
.nav_container .search_web_of {
  display: none;
}

@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes linksAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes linksAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 10px 15px;
    background-color: rgb(26, 26, 26);
  }
}/*# sourceMappingURL=navbar.module.css.map */